/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(135deg, rgba(0,0,0,0.3), rgb(0, 66, 188)),
        url('../assets/imagenes/2ce74a48b3883df6a3eab9c3ed59b1f9.jpg');
        color:#ffffff;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
}

.social-icons img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
}

.social-icons{
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.sobre mi{
    max-width: 800px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(135, rgba(0,0,0,0.8), rgba(0,0,0,0.8));
}

.box{
    max-width: 800px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    margin: auto;
    margin-top: 24px;
    padding: 20px;
    background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(9, 0, 42, 0.7));
}

.boxh2{
    text-align: center;
    margin-bottom: 16px;
}

.box profile-image{
    display: block;
    margin: auto;
}
.icono{
    width: 50px;
    height: 50px;
}

.profile{
    text-align: center;
}

header{
   margin: auto;
   max-width: 800px;
}

header h1{
    text-align: center;
    font-size: 40px;
}